/* location - /eranei.com/css/header.css */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    color: #212529;
    background-color: #d2b48c;
    border-width: 20px;
    border-color: black; /* #333333; */
}

.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    /* max-width: 1200px; */
}

.header-link { text-decoration: none; margin: 0 0.5rem; }
.header-link:hover { text-decoration: none; }
.header-link.active { text-decoration: underline; }

#dashboard-link {
    position: absolute;
    left: 0.5rem;
}

.user-info {
    position: absolute;
    right: 0.5rem;
}
